<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="main/css/styles.css">
    <title>Crear Post</title>
</head>
<body>
    {% extends 'nav.html' %}
    {% block content %}
    <h1>Crear un nuevo post para el Blog</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Crear</button>
    </form>
    {% endblock %}
</body>
</html>